body {
  background: hsla(360, 0%, 95%, 1);
}

a.navbar-item:hover {
  color: #FFA64D;
}

.hero__container {
  position: relative;
  width: 100%;
  height: 55vh;
  background-size: cover;
  background-position: center;
}

.hero__main {
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.hero__main-header h1 {
  font-size: calc(2.4vw + 9px);
  color: #FFF;
  font-weight: 800;
  text-shadow: 1px 1px 40px rgba(22, 23, 31, 0.6);
  margin: 0 0 .3em 0;
  text-align: center;
}

.hero__main-input {
  display: flex;
  justify-content: center;
}

.input__elevate {
  font-size: calc(.7vw + 9px);
  line-height: 1.5;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 0.5em 1em 0.5em 1em;
  transition: all 0.35s;
  margin: 0 5px;
}

.input__elevate:focus {
  box-shadow: 0 2px 4px 0 hsla(30, 100%, 65%, .45);
  outline: none;
}

.button__elevate {
font-size: calc(.7vw + 9px);
font-weight: bold;
color: #FFFFFF;
line-height: 1.5;
padding: 0.5em 1em;
border: none;
background: hsla(30, 100%, 55%, 1);
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
border-radius: 4px;
transition: all 0.25s;
}

.button__elevate:hover {
  box-shadow: 0 2px 4px 0 hsla(30, 100%, 65%, .45);
  outline: none;
  cursor: pointer;
  background: hsla(30, 100%, 65%, 1);
}

.feature__container {
  position: relative;
  margin: -50px auto 50px;
}

.feature__main {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.feature__item {
  display: flex;
  margin: .5em .5em;
}

.feature__item img {
  min-width: 50px;
  max-width: 60px;
  max-height: 90px;
}

.feature__info {
  margin: .5em 1em;
}

.feature__info a {
  color: #FFA64D;
  transition: all .3s;
  font-weight: 500;
}

.feature__info a:hover {
  color: #FFF;
  background: #FFA64D;
}

.feature__info h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: calc(.3vw + 9px);
  color: #333333;
  margin: 0 0 .5em 0;
}

.feature__info p {
  font-size: calc(0.5vw + 9px);
}

.information__container {
background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
            rgba(0,0,0,0.75) url('../images/bg_1.jpg') no-repeat center;
background-size: cover;
color: #fff;
margin: 0;
padding: 25px 10px;
/* height: 350px; */
}

.browse__main {
  display: flex;
  flex-direction: column;
  padding: 3em 1em
}

.browse__title {
  text-align: center;
}

.browse__title h3 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: calc(0.7vw + 9px);
  color: hsla(30, 100%, 65%, 1);
}

.browse__title p {
  font-size: calc(0.5vw + 9px);
}

.browse__item {
  display: flex;
  justify-content: center;
  padding: 1em .5em;
}

.browse__item figure {
  margin: 0 10px;
}

.browse__item figure img {
  width: 256px;
}

.browse__item .--grayscale {
  filter: grayscale(100%);
  transition: ease-out .5s;
  border-radius: 5px;
}

.browse__item .city__name {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  bottom: 0;
  opacity: 0;
  transition: all .5s;
  font-size: 2px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  font-weight: 800
}

.browse__item .--grayscale:hover {
  filter: grayscale(0);
  transform: scale(1.1,1.1);
}

.browse__item .--grayscale:hover ~ span {
  opacity: 1;
  color: #333;
  bottom: -50px;
  font-size: calc(.5vw + 9px);
}

.bottom__nav {
  padding: 1em 5em;
}

.bottom__nav a {
  margin: 0 18px;
  color: hsla(0, 0%, 0%, 1);
  font-size: calc(.4vw + 9px);
}

.bottom__nav-main,
.bottom__nav-secondary {
  display: flex;
  justify-content: center;
  padding: 1em .5em;
}

.bottom__nav a:hover,
.bottom__nav a:focus,
.bottom__nav a:active {
  color: hsla(0, 0%, 15%, 1);
}

.bottom__footer {
  display: flex;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: calc(.2vw + 9px);
  justify-content: space-between
}

.footer__item {
  padding: 2em;
  background: linear-gradient(rgb(242, 242, 242), rgba(255, 140, 26, 0.48)), rgb(242, 242, 242) url('../images/bg_1.jpg') no-repeat center;
  background-size: auto;
  background-position: center center;
  filter: grayscale(75%);
}

.--overflow-img {
  margin-top: -50px;
}

.--read-more {
  color: #fff;
  padding: 5px;
  border-bottom: 1px #FFF solid;
  transition: all .3s;
}

.--read-more:hover {
  background: orangered;
  color: #FFF;
}

.b-lazy {
   opacity:0;
   /* transform: scale(3); */
   transition: all 500ms;
}
.b-loaded {
   opacity:1;
}

#external::after {
  font-family: 'Font Awesome 5 Free';
  content: ' \f35d';
  font-size: .8em
}

@media only screen and (max-width: 768px) and (orientation: landscape){

  .hero__container {
    height: 100vh;
  }

  .feature__main {
    display: flex;
    width: 55%;
    margin: 0 auto;
    flex-direction: column;
  }

  .feature__item {
    height: 92px;
  }

}

@media only screen and (max-width: 768px){
  .hero__main {
  }

  .hero__main-input {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .input__elevate {
    border-radius: 0;
    margin: 2px 0;
    padding: 1em;
  }

  .button__elevate {
    border-radius: 0px 0px 4px 4px;
  }

  .information__container {
    height: auto;
    padding: 1em;
  }

  .feature__main {
    width: 80%;
    flex-direction: column;
  }

  .feature__item {
    height: 92px;
  }

  .feature__item img {
    max-width: 50px;
  }

  .feature__info p {
    font-size: calc(1vw + 9px);
  }

  .mobile__content {
    font-size: calc(.9vw + 9px);
  }

  .browse__main {
    display: flex;
    flex-direction: column;
    padding: 2em 1em;
  }

  .browse__title {
    text-align: center;
  }

  .browse__title h3,
  .browse__title p {
    font-size: calc(0.8vw + 9px);
  }

  .browse__item {
    justify-content: flex-start;
    padding: 1em 0;
    overflow: scroll;
    flex-flow: row nowrap
  }

  .browse__item figure {
    min-width: 45%;
    margin: 0 5px 0 0;
  }

  .browse__item .--grayscale {
    filter: none;
    transform: none;
  }

  .browse__item .--grayscale:hover {
    transform: initial;
  }

  .browse__item .--grayscale:hover ~ span {
    color: inherit;
    bottom: 0;
    font-size: calc(0.7vw + 9px);
    font-weight: 500;
  }

  .browse__item .city__name {
    position: initial;
    left: initial;
    transform: none;
    bottom: initial;
    opacity: 1;
    transition: none;
    text-transform: uppercase;
    text-align: center;
    font-size: calc(0.7vw + 9px);
    text-transform: uppercase;
    font-weight: 500;
  }

  .footer__item {
    background-size: cover;
    padding: 1em;
  }

  .bottom__nav {
    display: flex;
    flex-direction: column;
    padding: 0
  }

  .bottom__nav-main {
    padding: 1em 0;
    flex-direction: column;
  }

  .bottom__nav a {
    margin: 8px 0;
  }

  .bottom__nav-main, .bottom__nav-secondary {
    padding: 1em 0;
    flex-flow: column;
  }

  .bottom__footer {
    flex-direction: column;
    font-size: calc(.3vw + 9px);
  }

}
